/**/

.header {
    padding: 0 50px;
}

/**/

.cover {
    margin: 0 0 180px 0;
}

/**/

.lots {
    margin: 0 0 120px 0;
}

/**/

.about {
    margin: 0 0 180px 0;
    padding: 35px 0 13px 47px;
}

/**/

.footer {
    padding: 0 50px;
}